Playbooks/ThreatView_IPBlockList/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
"entities": [],
"tags": [],
"support": {
"tier": "community",
"armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
},
"author": {
"name": ""
}
},
"parameters": {
"PlaybookName": {
"defaultValue": "ThreatView_IPBlockList",
"type": "string"
}
},
"variables": {
"AzuremonitorlogsConnectionName": "[concat('Azuremonitorlogs-', parameters('PlaybookName'))]"
},
"resources": [
{
"properties": {
    "provisioningState": "Succeeded",
    "state": "Enabled",
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "Recurrence": {
            "recurrence": {
                "frequency": "Day",
                "interval": 1
            },
            "evaluatedRecurrence": {
                "frequency": "Day",
                "interval": 1
            },
            "type": "Recurrence"
        }
    },
    "actions": {
        "For_each": {
            "foreach": "@body('Select')",
            "actions": {
                "BatchImportToSentinel": {
                "runAfter": {},
                "type": "SendToBatch",
                "inputs": {
                    "batchName": "tiIndicators",
                    "content": "@items('For_each')",
                    "host": {
                        "triggerName": "Batch_messages",
                        "workflow": {
                           "id": "[concat('/subscriptions/', subscription().subscriptionId,'/resourceGroups/',resourceGroup().Name,'/providers/Microsoft.Logic/workflows/BatchImportToSentinel')]"
                        }
                    }
                }
            }
        },
        "runAfter": {
            "Select": [
                "Succeeded"
            ]
        },
        "type": "Foreach"
    },
    "Parse_JSON": {
        "runAfter": {
            "Run_query_and_list_results": [
                "Succeeded"
            ]
        },
        "type": "ParseJson",
        "inputs": {
            "content": "@body('Run_query_and_list_results')",
            "schema": {
                "properties": {
                    "value": {
                        "items": {
                            "properties": {
                                "IPAddress": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "IPAddress"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            }
        }
    },
    "Run_query_and_list_results": {
    "runAfter": {},
    "type": "ApiConnection",
    "inputs": {
        "body": "let IPBlockList = (externaldata(IPAddress:string) [@\"https://threatview.io/Downloads/IP-High-Confidence-Feed.txt\"]\nwith (format=\"csv\",ignoreFirstRecord=true))\n| where isnotempty(IPAddress);\nIPBlockList",
        "host": {
            "connection": {
                "name": "@parameters('$connections')['azuremonitorlogs_2']['connectionId']"
            }
        },
        "method": "post",
        "path": "/queryData",
        "queries": {
            "resourcegroups": "rg_mtplab_sentinel01",
            "resourcename": "MTPLabSentinel01",
            "resourcetype": "Log Analytics Workspace",
            "subscriptions": "f1e4d1e9-981c-4b74-b191-70bfe0e50651",
            "timerange": "Last 24 hours"
        }
    }
},
"Select": {
    "runAfter": {
        "Parse_JSON": [
            "Succeeded"
        ]
    },
    "type": "Select",
    "inputs": {
        "from": "@body('Parse_JSON')?['value']",
        "select": {
            "action": "alert",
            "confidence": "100",
            "description": "ThreatView-IPBlockList",
            "expirationDateTime": "@addDays(utcNow(),1)",
            "networkIPv4": "@item()?['IPAddress']",
            "targetProduct": "Azure Sentinel",
            "threatType": "watchlist",
            "tlpLevel": "white"
        }
    }
}
},
"outputs": {}
},
"parameters": {
"$connections": {
"value": {
"azuremonitorlogs_2": {
    "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
    "connectionName": "[variables('AzuremonitorlogsConnectionName')]",
    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
}
}
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"tags": {
"hidden-SentinelTemplateName": "ThreatView_IPBlockList",
"hidden-SentinelTemplateVersion": "1.0"
},
"identity": {
"type": "SystemAssigned"
},
"apiVersion": "2017-07-01",
"dependsOn": [
"[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]"
]
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('AzuremonitorlogsConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('AzuremonitorlogsConnectionName')]",
"customParameterValues": {},
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
}
}
}
]
}
